.container{
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;   
}

.case1{
border:1px black solid;
height:200px ;
width: 30%;


}
.progressBarContainer{
border: 1px black solid ;
/*align-self: flex-end;
flex-grow: 2;*/
border-radius: 15px;
background-color:rgb(192, 192, 192); ;
width: 30%;
height: 10px;
margin-left: 60px;
margin-top: 5px;
}
#progressBar{
    width: 0%;
    background-color: rgb(116, 194, 92);
    border-radius: 15px;
    height: 10px;
}


.case2{
border:1px black solid;
height:200px ;
width: 30%;
}
.case3{
    border:1px black solid;
    height:200px ;
    width: 30%;
    }


 #liveCoding{
display: flex;
height: 200px;
width:100% ;
background-color: pink;
border-radius: 20px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: medium;
padding-top: 10px;
padding-left: 10px;
word-break: break-all;
}

img{
height: 100px;
width: 100px;
/* border: 1px solid black; */
position:relative;
top:-2.5rem;

}
    

